<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vuejs</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1 style="text-align: center;">Vuejs Tutorial</h1>
    
    <div id="app">
        <div v-if="bookVisibility=='public'">
            <h3>{{bookName}}</h3>
            <h4>Price: ${{ price }}</h4>

            <button @click="++price">
                Increase Price
            </button>
            <button @click="changeBook('Eloquent JS')">
                Change Book
            </button>
        </div>
        <div v-else><h4>Books are Private</h4></div>
        
        <button @click="toggleBookVisibility">
            <span v-if="bookVisibility=='public'">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
    </div>
    
    <script src="app.js"></script>
</body>
</html>